# Manipulación Basica de nuestro DataFrame
------------------------

En esta sección aprenderemos a manipular nuestro dataframe con el fin de poder crear automatizaciones sobre nuestros datos

In [1]:
# Para esta seccion iniciaremos cargando nuestra data

import pandas as pd

df = pd.read_csv('./src/winemag-data-130k-v2.csv')
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [2]:
df.shape

(65499, 14)

## 1. Manipulación Basica de nuestro DataFrame

### 1.1 Seleccion de Columnas

In [3]:
df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [4]:
# Seleccion de una columna
df['country'].head()

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object

In [5]:
# tambien es posible la seleccion de este modo
df.country.head()

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object

In [7]:
df.description.head()

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

In [8]:
# Selección de múltiples columnas

# emplearemos una lista
columns_select = ['country','province']
df_subset = df[columns_select]
df_subset.head()

    country           province
0     Italy  Sicily & Sardinia
1  Portugal              Douro
2        US             Oregon
3        US           Michigan
4        US             Oregon

In [9]:
# renombrado de columnas

# {'old_colname': 'new_colname'}
df_rename = df.rename(columns={'Unnamed: 0': 'index'})
df_rename.head(2)

,index,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [10]:
# Eliminando columna
df_drop= df_rename.drop(['index'], axis=1)

df_drop.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

### 1.2 Aplicando Filtros

Podemos filtrar un dataframe mediante condiciones booleanas sobre columnas

In [11]:
# condicion -> se encarga de establecer la condicion de Verdad o Falsedad 
condicion = df['country'] == 'Italy'
condicion.head()

0     True
1    False
2    False
3    False
4    False
Name: country, dtype: bool

In [12]:
# usando la condicion como filtro
df_filter = df_drop[condicion]
df_filter.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo

In [13]:
df_filter.shape

(10005, 13)

In [14]:
# método unique me brinda valores únicos de columna
df.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

In [18]:
# obtenemos valores unicos de 2 o más columnas
df_unicos_country_province = df[['country', 'province']].drop_duplicates()

df_unicos_country_province.shape

(386, 2)

podemos concatenar varias condiciones usando `&` para **AND** ,  `|` para **OR** y `~` como **NOT** o negacion.

Tambien debemos recordar los operadores: `==` , `!=` , `>`, `<` , `>=` , `<=`

In [19]:
condicion  = (df.country=="Italy") & (df.points>=90)
df_drop[condicion].head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
133,Italy,"Einaudi's wines have been improving lately, an...",NaN,91,68.0,Piedmont,Barolo,NaN,NaN,NaN,Poderi Luigi Einaudi 2003 Barolo,Nebbiolo,Poderi Luigi Einaudi
135,Italy,The color is just beginning to show signs of b...,Sorano,91,60.0,Piedmont,Barolo,NaN,NaN,NaN,Giacomo Ascheri 2001 Sorano (Barolo),Nebbiolo,Giacomo Ascheri
140,Italy,"A big, fat, luscious wine with plenty of toast...",Costa Bruna,90,26.0,Piedmont,Barbera d'Alba,NaN,NaN,NaN,Poderi Colla 2005 Costa Bruna (Barbera d'Alba),Barbera,Poderi Colla

In [ ]:
# valores únicos de columnas
# el unique solo devuelve valores únicos de una columna, para más de una columna se emplea el drop_duplicates
df_var = df[['winery','variety']].drop_duplicates(subset=['winery','variety'])
df_var

Para ver más formas de filtrado [ver](https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9)

### 1.3 Aplicación de lógicas a nuestros DataFrame

Podemos aplicar lógicas o añadir constantes a nuestros dataFrames.

In [20]:
df_drop.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [21]:
# se pueden realizar operaciones básicas a columnas aplicando lógicas
# Generacion de constantes

# df [nueva_columna] = valor
df_drop['ajuste_precio'] = 1.2
df_drop.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1.2
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,1.2
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,1.2
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.2

In [22]:
# Operaciones como suma , resta, multiplicacion de columnas son validas
df_drop['new_price'] = df_drop.price * df_drop.ajuste_precio
df_drop.head(6)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio,new_price
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2,NaN
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1.2,18.0
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,1.2,16.8
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,1.2,15.6
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.2,78.0
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem,1.2,18.0

podemos usar `apply` en una columna para obtener una nueva columna en función de sus valores

In [23]:
# df_rename.price.unique()

# Según el precio de la botella de vino aplicar una etiqueta
# Si precio <100 -> Precio accesible
# SI precio >=100 and precio <=500 -> 'vino es moderadamente costoso'
# Si precio >500 -> 'muy caro'

def etiqueta_precio(precio:float):

    if precio<100:
        return 'Precio accesible'
    elif precio <=500 and precio >=100:
        return 'Precio moderadamente alto'
    elif precio >500:
        return 'Precio muy caro'
    else:
        return None

etiqueta_precio(1500)

'Precio muy caro'

In [25]:
df_drop.describe()

             points         price  ajuste_precio     new_price
count  65499.000000  60829.000000   6.549900e+04  60829.000000
mean      88.434037     35.232932   1.200000e+00     42.279518
std        3.030310     39.477858   2.220463e-16     47.373429
min       80.000000      4.000000   1.200000e+00      4.800000
25%       86.000000     17.000000   1.200000e+00     20.400000
50%       88.000000     25.000000   1.200000e+00     30.000000
75%       91.000000     42.000000   1.200000e+00     50.400000
max      100.000000   2500.000000   1.200000e+00   3000.000000

In [24]:
df_drop['etiqueta_costo'] = df_drop.price.apply(etiqueta_precio)

df_drop.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio,new_price,etiqueta_costo
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2,NaN,None
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,1.2,18.0,Precio accesible
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,1.2,16.8,Precio accesible
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,1.2,15.6,Precio accesible
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.2,78.0,Precio accesible

In [26]:
# aplicando lógicas mediante funciones

def incremento_precio_por_pais(row):
    if row.country == 'Italy':
        return row.price *1.5
    elif row.country == 'Peru':
        return row['price'] *1.025
    else:
        return row.price


df_drop['price_by_country'] = df_drop.apply(incremento_precio_por_pais, axis='columns')

In [30]:
df_drop[['country', 'price', 'price_by_country']].drop_duplicates().head(25)

      country  price  price_by_country
0       Italy    NaN               NaN
1    Portugal   15.0              15.0
2          US   14.0              14.0
3          US   13.0              13.0
4          US   65.0              65.0
5       Spain   15.0              15.0
6       Italy   16.0              24.0
7      France   24.0              24.0
8     Germany   12.0              12.0
9      France   27.0              27.0
10         US   19.0              19.0
11     France   30.0              30.0
12         US   34.0              34.0
14         US   12.0              12.0
15    Germany   24.0              24.0
16  Argentina   30.0              30.0
17  Argentina   13.0              13.0
18      Spain   28.0              28.0
19         US   32.0              32.0
20         US   23.0              23.0
21         US   20.0              20.0
22      Italy   19.0              28.5
23         US   22.0              22.0
24      Italy   35.0              52.5
25         US   69.0              69.0

In [31]:
df_drop[df_drop.country=='Peru'][['country', 'price', 'price_by_country']].drop_duplicates().head(25)

      country  price  price_by_country
6565     Peru   14.0            14.350
13090    Peru   15.0            15.375
14727    Peru   10.0            10.250
23537    Peru   17.0            17.425
37948    Peru   68.0            69.700
63521    Peru   20.0            20.500

In [33]:
df_drop.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,ajuste_precio,new_price,etiqueta_costo,price_by_country
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,1.2,NaN,None,NaN

In [34]:
df_drop.to_excel('./output/wine_review.xlsx', index=False, sheet_name='ReporteVinos')

In [ ]:
df_drop['rendimiento']= (df_drop['new_price'] - df_drop.price)/df_drop.price

subset = ['country','price','new_price','rendimiento']
df_drop[subset].head()

https://www.kaggle.com/code/residentmario/indexing-selecting-assigning


https://www.kaggle.com/code/residentmario/summary-functions-and-maps

In [35]:
import pandas as pd

# Crear un DataFrame de ejemplo
data = {
    'periodo': ['2023Q1', '2023Q2', '2023Q3', '2023Q4', '2024Q1', '2023Q1', '2023Q2', '2023Q3', '2023Q4', '2024Q1'],
    'producto': ['A', 'A', 'A', 'A', 'A', 'B', 'B', 'B', 'B', 'B'],
    'precio': [100, 105, 110, 115, 120, 200, 195, 190, 185, 180]
}
df = pd.DataFrame(data)

df

  periodo producto  precio
0  2023Q1        A     100
1  2023Q2        A     105
2  2023Q3        A     110
3  2023Q4        A     115
4  2024Q1        A     120
5  2023Q1        B     200
6  2023Q2        B     195
7  2023Q3        B     190
8  2023Q4        B     185
9  2024Q1        B     180

In [36]:
# Asegurarse de que los datos estén ordenados por 'producto' y 'periodo'
df = df.sort_values(by=['producto', 'periodo'])

# Crear la nueva columna 'precio_periodo_t-1' particionando por 'producto'
df['precio_periodo_t-1'] = df.groupby('producto')['precio'].shift(1)

# Mostrar el DataFrame resultante
df

  periodo producto  precio  precio_periodo_t-1
0  2023Q1        A     100                 NaN
1  2023Q2        A     105               100.0
2  2023Q3        A     110               105.0
3  2023Q4        A     115               110.0
4  2024Q1        A     120               115.0
5  2023Q1        B     200                 NaN
6  2023Q2        B     195               200.0
7  2023Q3        B     190               195.0
8  2023Q4        B     185               190.0
9  2024Q1        B     180               185.0

# Ejercicios
---------------------------------------------

In [38]:
# Me solicitan generar un archivo excel por cada uno de los paises en el archivo 'wine_review'


import pandas as pd
import numpy as np

# Reemplaza 'tu_archivo.xls' con la ruta de tu archivo
archivo_xls = './output/wine_review.xlsx' # Ya tienes esta variable definida en una celda anterior, pero la incluyo aquí por completitud

# leo archivo
df = pd.read_excel(archivo_xls,sheet_name='ReporteVinos')


# 1. Obtener la lista de países únicos
# Identificar todos los valores únicos en la columna 'country' del DataFrame.
unique_countries = df['country'].unique()
print("Países únicos encontrados:", unique_countries)

Países únicos encontrados: ['Italy' 'Portugal' 'US' 'Spain' 'France' 'Germany' 'Argentina' 'Chile'
 'Australia' 'Austria' 'South Africa' 'New Zealand' 'Israel' 'Hungary'
 'Greece' 'Romania' 'Mexico' 'Canada' nan 'Turkey' 'Czech Republic'
 'Slovenia' 'Luxembourg' 'Croatia' 'Georgia' 'Uruguay' 'England' 'Lebanon'
 'Serbia' 'Brazil' 'Moldova' 'Morocco' 'Peru' 'India' 'Bulgaria' 'Cyprus'
 'Armenia' 'Switzerland' 'Bosnia and Herzegovina' 'Ukraine' 'Slovakia'
 'Macedonia']

In [39]:

# 2. Iterar sobre cada país
# Recorrer la lista de países únicos uno por uno.
for country in unique_countries:
    # 3. Filtrar el DataFrame
    # Para cada país, crear un nuevo DataFrame que contenga solo las filas correspondientes a ese país.
    if pd.isna(country):
        df_country = df[df['country'].isna()]
        file_name = "unknown_country_wines.xlsx"
    else:
        df_country = df[df['country'] == country]
        # 4. Generar el nombre del archivo
        # Crear un nombre de archivo significativo para cada archivo Excel, utilizando el nombre del país.
        # Sanitizar el nombre del país para el nombre del archivo (reemplazar espacios con guiones bajos, eliminar caracteres especiales si es necesario)
        sanitized_country = str(country).replace(" ", "").replace("/", "").replace("\\", "_") # Sanitización básica
        file_name = f"{sanitized_country}_wines.xlsx"

    # 5. Guardar el DataFrame filtrado en un archivo Excel
    # Exportar el DataFrame filtrado a un nuevo archivo Excel.
    try:
        # Guardar el DataFrame filtrado en un archivo Excel
        df_country.to_excel(f'./output/reportes/{file_name}', index=False)
        display(f"Datos exportados exitosamente para '{country}' a '{file_name}'")
    except Exception as e:
        display(f"Error al exportar datos para '{country}' a '{file_name}': {e}")

"Datos exportados exitosamente para 'Italy' a 'Italy_wines.xlsx'"

"Datos exportados exitosamente para 'Portugal' a 'Portugal_wines.xlsx'"

"Datos exportados exitosamente para 'US' a 'US_wines.xlsx'"

"Datos exportados exitosamente para 'Spain' a 'Spain_wines.xlsx'"

"Datos exportados exitosamente para 'France' a 'France_wines.xlsx'"

"Datos exportados exitosamente para 'Germany' a 'Germany_wines.xlsx'"

"Datos exportados exitosamente para 'Argentina' a 'Argentina_wines.xlsx'"

"Datos exportados exitosamente para 'Chile' a 'Chile_wines.xlsx'"

"Datos exportados exitosamente para 'Australia' a 'Australia_wines.xlsx'"

"Datos exportados exitosamente para 'Austria' a 'Austria_wines.xlsx'"

"Datos exportados exitosamente para 'South Africa' a 'SouthAfrica_wines.xlsx'"

"Datos exportados exitosamente para 'New Zealand' a 'NewZealand_wines.xlsx'"

"Datos exportados exitosamente para 'Israel' a 'Israel_wines.xlsx'"

"Datos exportados exitosamente para 'Hungary' a 'Hungary_wines.xlsx'"

"Datos exportados exitosamente para 'Greece' a 'Greece_wines.xlsx'"

"Datos exportados exitosamente para 'Romania' a 'Romania_wines.xlsx'"

"Datos exportados exitosamente para 'Mexico' a 'Mexico_wines.xlsx'"

"Datos exportados exitosamente para 'Canada' a 'Canada_wines.xlsx'"

"Datos exportados exitosamente para 'nan' a 'unknown_country_wines.xlsx'"

"Datos exportados exitosamente para 'Turkey' a 'Turkey_wines.xlsx'"

"Datos exportados exitosamente para 'Czech Republic' a 'CzechRepublic_wines.xlsx'"

"Datos exportados exitosamente para 'Slovenia' a 'Slovenia_wines.xlsx'"

"Datos exportados exitosamente para 'Luxembourg' a 'Luxembourg_wines.xlsx'"

"Datos exportados exitosamente para 'Croatia' a 'Croatia_wines.xlsx'"

"Datos exportados exitosamente para 'Georgia' a 'Georgia_wines.xlsx'"

"Datos exportados exitosamente para 'Uruguay' a 'Uruguay_wines.xlsx'"

"Datos exportados exitosamente para 'England' a 'England_wines.xlsx'"

"Datos exportados exitosamente para 'Lebanon' a 'Lebanon_wines.xlsx'"

"Datos exportados exitosamente para 'Serbia' a 'Serbia_wines.xlsx'"

"Datos exportados exitosamente para 'Brazil' a 'Brazil_wines.xlsx'"

"Datos exportados exitosamente para 'Moldova' a 'Moldova_wines.xlsx'"

"Datos exportados exitosamente para 'Morocco' a 'Morocco_wines.xlsx'"

"Datos exportados exitosamente para 'Peru' a 'Peru_wines.xlsx'"

"Datos exportados exitosamente para 'India' a 'India_wines.xlsx'"

"Datos exportados exitosamente para 'Bulgaria' a 'Bulgaria_wines.xlsx'"

"Datos exportados exitosamente para 'Cyprus' a 'Cyprus_wines.xlsx'"

"Datos exportados exitosamente para 'Armenia' a 'Armenia_wines.xlsx'"

"Datos exportados exitosamente para 'Switzerland' a 'Switzerland_wines.xlsx'"

"Datos exportados exitosamente para 'Bosnia and Herzegovina' a 'BosniaandHerzegovina_wines.xlsx'"

"Datos exportados exitosamente para 'Ukraine' a 'Ukraine_wines.xlsx'"

"Datos exportados exitosamente para 'Slovakia' a 'Slovakia_wines.xlsx'"

"Datos exportados exitosamente para 'Macedonia' a 'Macedonia_wines.xlsx'"